/* fonts */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: #FFFFFF;
    padding: 0;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.42857143;
    font-family: "Roboto";
    color: #080808;
    margin: 0px;
}

.wrapper,
main {
    display: flex;
    flex-direction: row;
}

nav,
main section {
    display: flex;
    flex-direction: column
}

nav {
    padding-top: 18px;
    width: 120px;
}

.nav-item.logo img {
    width: 30px;
}

.nav-item:not(.logo) {
    margin-left: auto;
    margin-right: auto;
}

.nav-item:not(.logo) img {
    width: 20px
}

main section {
    padding: 40px 95px;
}

section.sales {
    background-color: #FBFBFB;
    width: 855px;
}

section.sales input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font-size: 14px;
    font-weight: bold;
    color: #c7ccd1;
    height: 13px;
    margin: 0;
    z-index: 2000;
    border-radius: 1px;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    line-height: 1.5;
}

.search {
    display: flex;
    flex-direction: row
}

.search>i.fa {
    margin-top: 5px;
    font-size: 16px;
    color: #606060;
}


/* .search-icon {
    top: -25px;
    position: relative;
} */

section.sales input:focus {
    color: #495057;
    outline: 0;
    box-shadow: none;
    border-color: #1ab394;
}

section.sales input::placeholder {
    color: #c7ccd1;
}

section.statistics {
    width: 475px
}

.sales h1 {
    font-size: 18px;
    font-weight: 600;
    color: #0F0F0F;
}

.sales ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    justify-content: left;
    height: 40px;
    margin: 0px auto 25px auto;
    border-bottom: 1px solid #DBE1E7;
}

li.inactive,
li.inactive a {
    color: #bec3c8;
}

.sales ul li {
    padding: 18px 30px;
}

a {
    text-decoration: none;
}

li.active {
    bottom: -3px;
    position: relative;
    font-weight: 400;
}

li.active:after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #525252;
    width: 85%;
    transform: translateX(-50%);
    bottom: 1px;
    left: 50%;
}

li.active a {
    color: #505050;
}